.name-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid #222327;
  margin-bottom: 15px;

  &-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon{
      background:#222327;
      color: #fff;
      width: 50px;
      height: 50px;
      font-size: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

   

    &-details {
      margin-left: 15px;

      &-name{
        font-size: 18px;
      }
    }
  }
}
