.page-not-found{
   img{
       width: 200px;
       height: 104px;
   };
   .btn{
    font-size: 16px;
    font-weight: 600;
   };
   .title{
    font-size: 24px;
    font-weight: 800;
   };
   .body{
    font-size: 16px;
    font-weight: normal;
    color: #e3e3e3;
   };
}