.typography {
  margin: 0;
  padding: 0;
  text-decoration: none;
  &-lh-0{
    line-height: normal;
  }
  &-lh-1{
    line-height: 1;
  }
  &-lh-12{
    line-height: 1.2;
  }
  &-lh-15{
    line-height: 1.5;
  }

  &-small {
    font-size: 0.89em;
    color: inherit;
  }
  &-h0 {
    font-size: 36px;
  }
  &-h1 {
    font-size: 24px;
  }
  &-h2 {
    font-size: 21px;
  }
  &-h3 {
    font-size: 18px;
  }
  &-body {
    font-size: 16px;
  }
  &-sub1 {
    font-size: 13px;
  }
  &-sub2 {
    font-size: 11px;
  }

  &-extra-bold {
    font-weight: 800;
  }
  &-bold {
    font-weight: bold;
  }
  &-semi-bold {
    font-weight: 600;
  }
  &-medium {
    font-weight: 500;
  }
  &-regular {
    font-weight: normal;
  }
  &-text-center {
    text-align: center;
  }
}
