/*
 * Author: jerobert (zjerobert@mitrai.com)
 * Date: Friday 14th AUGUST 2020 13:00:00 pm
 * Module: Cellcard Play Frontend
 * Copyright © 2020 Cellcard Play. All rights reserved.
 */
.backdrop {
  position: fixed;
  z-index: 99998;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;

  &-show {
    visibility: visible;
    opacity: 0.7;
  }
}
.dialog-logout {
  background-color: #222327;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  left: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translate(0, 100%);
  transition: all 0.5s ease;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  &-show {
    transform: translate(0, 0%);
  }
  &-body {
    text-align: center;
    position: relative;
    &-close-icon {
      position: absolute;
      top: 4px;
      left: 14px;
      font-size: 24px;
      color: #fff;
      margin: 0;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
    &-title-main {
      font-size: 21px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &-title-sub {
      font-size: 16px;
      margin-bottom: 1.8rem;
    }
  }

}
