/*
 * Author: Buwaneka Sumanasekara (bsumanasekara@mitrai.com)
 * Date: Sunday, 23rd August 2020 9:06:37 am
 * Module: Cellcard Play Frontend
 * -----
 * Last Modified: Sunday, 23rd August 2020 9:22:43 am
 * Modified By: Buwaneka Sumanasekara (bsumanasekara@mitrai.com>)
 * Copyright © 2020 Cellcard Play. All rights reserved.
 */

.row-redeem-qrcode{
        &-des{
           font-size: 16px;
           color: #e3e3e3;
           font-weight:normal;
        }
        &-box{
           img{
              width: 200px;
              border-radius: 10px;
           }
        }

} 