/*
* File: style.scss
* Project: cellcard-play-pwa
* Author: Dilum Sanjaya (dranasinghe@mitrai.com)
* File Created: Thursday, 01st October 2020 00:27 am
* Module: Cellcard Play Frontend
* Copyright 2020 - 2020 Mitra Innovation Ltd., Mitra Innovation Ltd.
*/
.status-description-padding-x {
  padding-left: 45px;
  padding-right: 45px;
}
.purchase-status-icon {
  width: 108px;
  height: 108px;
}
