/*
 * File: style.scss
 * Project: cellcard-play-pwa
 * File Created: Wednesday, 22th July 2020 1.30 pm
 * Author: Jerobert (zjerobert@mitrai.com)
 * Copyright 2020 - 2020 Mitra Innovation Ltd., Mitra Innovation Ltd.
 */
.para-copyright{
    font-size: 11px;
    color: #bdb9b9;
    margin-top: 14px;
}
