/*
 * Author: Dilum Sanjaya (dranasinghe@mitrai.com)
 * Date: Tuesday, 12th August 2020 12:00 pm
 * Module: Cellcard Play Frontend
 * Copyright © 2020 Cellcard Play. All rights reserved.
 */
.header{
    padding-left: 14px;
    padding-right: 14px;
    font-size: 24px;
    &-icon{
        color: #fff;
    }
}