/*
 * Author: Dilum Sanjaya (dranasinghe@mitrai.com)
 * Date: Friday 31 July 2020 5:00:00 pm
 * Module: Cellcard Play Frontend
 * Copyright © 2020 Cellcard Play. All rights reserved.
 */
 
.buy-unlimited-container{
    text-align: center;

    &-logo-image{
        width: 100px;
    }

    &-images{
        display: flex;
        justify-content: center;
    }
    &-title{
        font-size: 24px;
        margin-top: 16px;

    }
    &-title-sub{
        font-size: 16px;
        margin-top: 16px;
    }
    &-description{
        font-size: 13px;
    }
    &-button{
        margin-top: 15px;
    }
}