.text {
  &-xxbold {
    font-weight: 900;
  }
  &-xbold {
    font-weight: 800;
  }

  &-semibold {
    font-weight: 600;
  }

  &-normal{
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
