.store-filters-list {
    &-button-border{
        border-radius: 10px;
    }
    &--category {
        .btn {
            margin-bottom: 10px;
            width: 48%;
            min-height: 64px;
            padding-left: .4rem;
            padding-right: .4rem;
    
            &:nth-child(odd){
                margin-right: 2%;
            }
            &:nth-child(even){
                margin-left: 2%;
            }        
        }
    }
    &--platform {
        display: flex;
        .store-filters-list-item {
            width: 24%;
            margin: 1%;
    
            img {
                border-radius: 10px;
                width: 82px;
                height: 82px;
            }
        }
    }
}