/*
 * File: style.scss
 * Project: cellcard-play-pwa
 * File Created: Monday, 20th July 2020 1.30 pm
 * Author: Jerobert (zjerobert@mitrai.com)
 * Copyright 2020 - 2020 Mitra Innovation Ltd., Mitra Innovation Ltd.
 */
.social-icon {
    padding-top: 0em;
    padding-bottom: 0em;
    a {
        text-decoration: none;
        color: #ffffff;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        font-size: 35px;
    }
}

