/*
* File: style.scss
* Project: cellcard-play-pwa
* Author: Dilum Sanjaya (dranasinghe@mitrai.com)
* File Created: Wednesday, 16th September 2020 04:34 pm
* Module: Cellcard Play Frontend
* Copyright 2020 - 2020 Mitra Innovation Ltd., Mitra Innovation Ltd.
*/
.voucher-list-image{
  height: 110px;
  width: 110px;
  border-radius: 10px;
}
.voucher-list-item{
  border-bottom: 1px solid #222327;
}